                body {background-color: whitesmoke;}
                #sidebar {
                        z-index: 15;
                        position: fixed;
                        top: 0; right: 0;
                        width: 360px;
                        height: 100%;
                        background-color: white;
			border: 1px solid #E8E8E8;
                        overflow-x: hidden;
			overflow-y: auto;
                        transition: 0.5s;
                }
		.sidebar-hl {padding-left: 10px;}
                #reorder {
                        width: 40px;
                        border: 1px solid whitesmoke;
                        border-radius: 3px;
                        background-color: #202020;
                        margin: 10px 370px 0 0;
                        position: absolute;
                        top: 0; right: 0;
                        cursor: pointer;
                        transition: 0.5s;
                }
                #reorder:hover {border: 2px solid whitesmoke;}
                #menu {
                        padding: 65px 25px 25px 25px;
                        text-align: start;
                }
                #menu img {margin-bottom: 15px;}
		#menu-user-info {
			width: 100%;
			text-align: center;
			padding: 15px;
			overflow: hidden;
		}
		#menu-user-info h5 {font-size: larger; font-weight: bold; color: #606060; }
		#menu-user-info img {
			height: 150px;
			width: 150px;
			border-radius: 50%;
			display: inline-block;
			margin-bottom: 15px;
		}
		#user-info {width: 100%; margin-top: 15px; text-align: start; }
                .menu-opt {width: 100%; padding: 15px 0; overflow: hidden;}
                .menu-opt h5 {
                        font-size: larger;
                        font-weight: bold;
                        color: gray;
                }
                #dashboard {
                        width: 100%;
                        padding: 60px 360px 100px 0;
                        transition: 0.5s;
                }
                .d-title {
                        text-align: center;
                        padding: 50px 0 10px 0;
                        width: 90%;
                        margin: 0 5%;
                        border-bottom: 2px solid lightgray;
                }
                .d-title h2 {
                        color: gray;
                        font-weight: 300;
                }
                .d-body {
                        width: 100%;
                        text-align: center;
                        padding: 25px;
                }
                #add-news {
                        width: 20rem;
                        height: 28rem;
                        display: inline-block;
                        border-style: dashed;
                        vertical-align: top;
                        margin: 25px;
                }
                .article {
                        vertical-align: top;
                        width: 20rem;
                        height: 28rem;
                        margin: 25px;
                        background-color: white;
                        box-shadow: 0 4px 8px 0 rgba(128, 128, 128, 0.2), 0 6px 20px 0 rgba(128, 128, 128, 0.19);
                }
                .article-title {height: 4rem;}
                .article-title h5 {
                        font-size: larger;
                        font-weight: bold;
                }
                .article-body {height: 21rem;}
                .article-body p {font-size: large;}
                .article-body input {margin-bottom: 15px;}
                .article-date {height: 3rem;}
                .article-btn {width: 100%; text-align: center;}
                .article-btn button {display: inline-block; margin: 5px 15px;}

                #my-modal {
                        z-index: 20;
                        position: absolute;
                        top: 0; left: 0;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        background: rgba( 0, 0, 0, 0.6);
                }
                #code-verify-container {
                        width: 30rem;
                        height: auto;
                        display: inline-block;
                        background-color: white;
                        opacity: 1;
                        padding: 50px;
                        margin-top: 100px;
                }

